!!!5
html
	head
		title #{title}
		script(src="http://code.jquery.com/jquery-latest.min.js")

	body
		form(action="/",method="get")
			input(type="text",name="q",placeholder="Search for...")
			button(type="submit") Search

		ul
			for post in posts
				li #{post.text}